@use "./_button.scss";

.button-primary {
  @extend %button-reset;
  background-color: hsl(var(--clr-primary-light));
  color: hsl(var(--clr-secondary-light));
  width: 200px;
  align-items: stretch;

  &__icon-container {
    width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: hsl(var(--clr-black-10-percent-opacity));
  }

  &__text {
    flex-grow: 1;
  }

  &:hover {
    background-color: hsl(var(--clr-primary-accent));
  }

  &:disabled {
    background-color: hsl(var(--clr-disabled-btn));
    color: hsl(var(--clr-white));
  }
}
