@use "./_button.scss";

.button-primary {
  @extend %button-reset;
  background-color: var(--clr-primary-light);
  color: var(--clr-secondary-light);
  width: 200px;

  transition: background-color 0.3s ease-in;

  &__icon-container {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-black-10-percent-opacity);
  }

  &__text {
    text-align: center;
    flex-grow: 1;
  }

  &:hover {
    background-color: var(--clr-primary-accent);
  }

  &:disabled {
    background-color: var(--clr-disabled-btn);
  }
}
