:root {
  /********************
  Colors HSL
  ********************/
  /* Primary */
  --cyan: 167deg 36% 54%;
  --dark-blue: 205deg 41% 21%;
  --grayish-dark-blue: 245deg 10% 22%;

  /* Secondary */
  --very-light-gray: 0 0% 98%;
  --light-gray: 240deg 2% 92%;
  --bright-red: 0 90% 57%;

  /* Color Assignments */
  --fc-primary: hsla(var(--grayish-dark-blue) / 1);
  --page-bg-color: hsla(var(--very-light-gray) / 1);

  /********************
  Colors HSL
  ********************/
  --ff-serif: "Ibarra Real Nova", serif;
  --ff-sans: "Public Sans", sans-serif;
}

/********************
Reset
********************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul[class] {
  list-style: none;
  padding-left: 0;
}

p {
  font-family: var(--ff-sans);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-serif);
}

/********************
Layout
********************/
.l-center {
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

/********************
Defaults
********************/

.body {
  background-color: var(--page-bg-color);
  color: var(--fc-primary);
}

/********************
Components
********************/
.header {
  padding-block: 2rem;
}

.header__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__nav-list {
  display: none;
}

.hero {
}

.about-me {
}

.about-me__image-container {
}

.contact {
}

.footer {
}

@media screen and (min-width: 350px) {
  .l-center {
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
  }

  .header__nav-mobile-icon {
    display: none;
  }

  .about-me {
    display: flex;
  }

  .about-me__image-container {
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 540px;
  }
}
