.link-button {
  background-color: var(--bg-primary-light);
  color: var(--fc-secondary-light);
  text-decoration: none;
  width: 200px;

  &__icon-container {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;
    flex-grow: 1;
  }
}
