:root {
  /********************
  Primary Colors
  ********************/
  --slightly-desaturated-cyan: 167deg 36% 54%;
  --dark-blue: 205deg 41% 21%;
  --grayish-dark-blue: 245deg 10% 22%;

  /********************
  Secondary Colors
  ********************/
  --very-light-gray: 0deg 0% 98%;
  --light-gray: 240deg 2% 92%;
  --bright-red: 0deg 90% 57%;
  --white: 0deg 0% 100%;

  /********************
  Color Intentions
  ********************/
  /*
  todo: maybe i can refactor to general color vars like primary-dark etc...
  */
  --clr-primary-dark: var(--grayish-dark-blue);
  --clr-primary-light: var(--dark-blue);
  --clr-primary-accent: var(--slightly-desaturated-cyan);

  --clr-secondary-dark: var(--light-gray);
  --clr-secondary-light: var(--very-light-gray);
  --clr-secondary-accent: var(--bright-red);

  --clr-white: 0 0% 100%;
  --clr-disabled-btn: 0 0% 59%;
  --clr-black-10-percent-opacity: 0 0% 0% / 0.1;
  --clr-primary-dark-20-percent-opacity: var(--clr-primary-dark) / 0.2;
  /********************
  Typography
  ff = font-family
  fs = font-size
  lh = line-height
  ls = letter-spacing
  ********************/

  --ff-serif: "Ibarra Real Nova", serif;
  --ff-sans: "Public Sans", sans-serif;

  --ls-h1: -0.025125rem; /* -0.45px */
  --ls-h2: -0.0225rem; /* -0.36px */
  --ls-h3: -0.019125rem; /* -0.29px */

  --lh-h1: 3.125rem; /* 50px */
  --lh-h2: 2.635rem; /* 42px */
  --lh-h3: 2.25rem; /* 36px */
  --lh-body-text: 1.875rem; /* 30px */

  --fs-50: 0.625rem; /* 10px */
  --fs-100: 0.75rem; /* 12px */
  --fs-200: 0.8125rem; /* 13px */
  --fs-300: 0.9375rem; /* 15px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 2rem; /* 32px */
  --fs-600: 2.5rem; /* 40px */
  --fs-700: 3.125rem; /* 50px */
}
